name: .NET Release Pipeline
on:
  push:
    tags:
      - "v*"

jobs:
  build-and-release:
    uses: ./.github/workflows/dotnet-common.yml
    with:
      publish_output: publish
      create_release: true
      enforce_format: false
    secrets: inherit
