name: .NET PR Pipeline
on:
  pull_request:
    branches:
      - main
    types:
      - opened
      - synchronize
      - reopened
      - ready_for_review

jobs:
  build:
    if: github.event.pull_request.draft == false
    uses: ./.github/workflows/dotnet-common.yml
    with:
      publish_output: publish-pr
      create_release: false
      enforce_format: true
